

.wrapper {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;

}
.container_block{
    perspective: 1000px;
    overflow: hidden;
    height: 100vh;
    min-height: 500px;
    transform-style: preserve-3d;
    will-change: transform;

}
header{
    width: 100%;
    position: absolute;
    z-index: 10;
}
.coffee{
    position: relative;
    display: flex;
    width: 100%;
    margin: 31vh auto;
    justify-content: space-around;
}
.block_title{
    text-align: center;
    width: 50%;
}
.block_images{
    width: 50%;
}
.block_images img:first-child{
    transform: translate(8vw, 0vh) scale(1.9);
}

.block_images img:last-child{
    width: 100vw;
    height: 105vh;
    position: relative;
    top: -70vh;
    z-index: -1;
    transform: translate(-21vw, -5vh);
    filter: hue-rotate(64deg) grayscale(0.3) saturate(1.0);
}
.slider{

}