


.wrapper {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    margin: 0 auto;
    width: 70vw
}
/*.content:before {*/
/*    content: "";*/
/*    display: block;*/
/*    position: relative;*/
/*    top: -1vh;*/
/*    left: 34.2vw;*/
/*    width: 51vw;*/
/*    z-index: 1;*/
/*    height: 100px;*/
/*    background: linear-gradient(0deg, rgb(186 161 161 / 0%) 0%, rgb(240 232 217) 100%);*/

/*}*/

/*.content h1:before {*/
/*    content: "";*/
/*    display: block;*/
/*    position: relative;*/
/*    top: -109px;*/
/*    left: -16vw;*/
/*    width: 50.5vw;*/
/*    z-index: 1;*/
/*    height: 100px;*/

/*    background: linear-gradient(0deg, rgb(186 161 161 / 0%) 0%, rgb(250 172 188) 100%);*/

/*}*/

.content p {

}

.container_block{
    perspective: 1000px;
    overflow: hidden;
    height: 100vh;
    min-height: 500px;
    transform-style: preserve-3d;
    will-change: transform;

}
.block {
    z-index: 0;
    width: 50vw;
    right: 0px;
    height: 100vh;
    background: #f0e8d9;
    /* text-align: right; */
    position: absolute;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 78%, 50% 78%, 50% 56%, 0% 56%);
}

.block img{
    width: 30vw;
    position: absolute;
    transform: translate(25vw, 9vh);
}

.block div{
    font-weight: 600;
    font-size: 44px;
    position: relative;
    top: 200px;
    left: -29vw;
    background: #f0e8d9;
    padding: 5px;
}

/*.block::after {*/
/*    content: "";*/
/*    width: 20vw;*/
/*    height: 5vh;*/
/*    background: #3b2323;*/

/*}*/
/*#test{*/
/*    width: 20vw;*/
/*    height: 5vh;*/
/*    position: absolute;*/
/*    top: 15px;*/
/*    background: #3b2323;*/
/*}*/

.history img{
    position: absolute;
    inset: -5vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.title_block{
    position: absolute;
    top: 19vh;
    right: 50vw;
    text-transform: uppercase;
    font-size: 47px;
    padding: 56px 130px;
    background: #f0e8d9;
    animation: 3s ease-in 1s reverse both running title_block_show;
}
.title_block_coffee{
    position: absolute;
    top: 63vh;
    right: 32vw;
    text-transform: uppercase;
    font-size: 47px;
    animation: 3s ease-in 5ms reverse both running title_block_show;

}

.history{
    position: absolute;
 background: #faacbc;
    height: 100vh;
    width: 100%;
}
.layer{
    width: 20vw;
    transform-origin: center;
    /* transform: rotate(90deg); */
    transform: translate3d(19vw, 72vh, -1006px) scale(2);
}
/*mobile*/
@media (max-width: 800px) {
    .title_block{
        position: absolute;
        top: 22vh;
        right: 49vw;
        text-transform: uppercase;
        font-size: 31px;
        padding: 52px 12px;
        background: #f0e8d9;
        font-weight: bold;
    }
    .title_block_coffee{
        position: absolute;
        top: 63vh;
        right: 26vw;
        text-transform: uppercase;
        font-size: 31px;
        font-weight: bold;
    }
    .block img{
        width: 49vw;
        transform: translate(25px, 17vh);
    }
    .layer{
        width: 31vw;
        transform-origin: center;
        /* transform: rotate(90deg); */
        transform: translate3d(14vw, 66vh, -1006px) scale(2);
    }
}

@keyframes title_block_show {
    0%{
        transform: translateX(0);

    }
    100%{
        transform: translateX(100vw);
    }
}