* {
    margin: 0;/*это свойство можно удалить, если вы используете reset, normalize или нечто подобное*/
    font-family: 'Jost', sans-serif;
    color: #5f2e12;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    /*padding-top: 20px;*/
    /*padding: 10rem;!*это свойство можно удалить, добавлено для наглядности*!*/
    /*background: #e6f2ff;!*это свойство можно удалить, добавлено для наглядности*!*/
}

.container_block{
    perspective: 1000px;
    overflow: hidden;
    height: 100vh;
    min-height: 500px;
    transform-style: preserve-3d;
    will-change: transform;

}
.block {
    z-index: 0;
    width: 50vw;
    right: 0px;
    height: 100vh;
    background: antiquewhite;
    /* text-align: right; */
    position: absolute;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 78%, 50% 78%, 50% 56%, 0% 56%);
}



.block div{
    font-weight: 600;
    font-size: 44px;
    position: relative;
    top: 200px;
    left: -29vw;
    background: antiquewhite;
    padding: 5px;
}

/*.block::after {*/
/*    content: "";*/
/*    width: 20vw;*/
/*    height: 5vh;*/
/*    background: #3b2323;*/

/*}*/
/*#test{*/
/*    width: 20vw;*/
/*    height: 5vh;*/
/*    position: absolute;*/
/*    top: 15px;*/
/*    background: #3b2323;*/
/*}*/

.container_block img{
    position: absolute;
    inset: -5vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title_block{
    position: absolute;
    top: 19vh;
    right: 50vw;
    text-transform: uppercase;
    font-size: 47px;
    padding: 56px 59px;
    background: antiquewhite;
}
.title_block_coffee{
    position: absolute;
    top: 63vh;
    right: 32vw;
    text-transform: uppercase;
    font-size: 47px;
    z-index: 8;
}

.history{
    position: absolute;
 background: #faacbc;
    height: 100vh;
    width: 100%;
}
.layer{
    width: 20vw;
    transform-origin: center;
    /* transform: rotate(90deg); */
    transform: translate3d(19vw, 72vh, -1006px) scale(2);
}