* {
    margin: 0;/*это свойство можно удалить, если вы используете reset, normalize или нечто подобное*/
    font-family: 'Jost', sans-serif;
    color: #5f2e12;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    margin: 0 auto;
    width: 70vw;

}

.container_block{
    perspective: 1000px;
    overflow: hidden;
    height: 100vh;
    min-height: 500px;
    transform-style: preserve-3d;
    will-change: transform;
    background: #ff6700a8;

}
.layer{
    position: absolute;
    width: 100%;
}
.title_block{
    position: absolute;
    width: 100%;
    text-align: center;
}
.title_block p:first-child{
   text-transform: uppercase;
    margin: 25vh 0 0 0;
    font-size: 40px;
    font-weight: bold;
}
.title_block p:last-child{

margin-top: 20px;
    font-size: 30px;
}

.layer img{
width: 50%;
    object-fit: cover;
    transform: translate(44%, 34vh);

}


.ball {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 50%;
    position: relative;
    -webkit-transform-style: preserve-3d;
    background: url('/src/images/statistika/map.png') repeat-x;
    background-size: auto 100%;
    -webkit-animation: move-map 30s infinite linear;
    -moz-animation: move-map 30s infinite linear;
    -o-animation: move-map 30s infinite linear;
    -ms-animation: move-map 30s infinite linear;
    animation: move-map 30s infinite linear;
}

.ball:before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: -40px 10px 70px 10px rgba(28, 0, 0, 0.91) inset;
    z-index: 2;
}

.ball:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-filter: blur(0);
    opacity: 0.3;
    background: radial-gradient(circle at 50% 80%, #81cdf6, #76aeef 10%, #0021f5 66%, #008bff 100%);
}

.ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(33, 6, 6, 0.4), rgba(68, 23, 23, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-150px);
    -moz-transform: rotateX(90deg) translateZ(-150px);
    -ms-transform: rotateX(90deg) translateZ(-150px);
    -o-transform: rotateX(90deg) translateZ(-150px);
    transform: rotateX(90deg) translateZ(-150px);
    z-index: -1;
}
/*body {*/
/*    width: 300px;*/
/*    margin: 20px auto;*/
/*    background: linear-gradient(to bottom, rgba(100, 100, 100, 0.2) 0%, rgba(255, 255, 255, 0.5) 40%, #ffffff 100%);*/
/*    background-repeat: no-repeat;*/
/*}*/

.stage {


    width: 300px;
    height: 300px;
    display: block;
    margin: 49vh auto;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}

@-moz-keyframes move-map {
    0% {
        background-position: -849px 0; }

    100% {
        background-position: 0 0; } }

@-webkit-keyframes move-map {
    0% {
        background-position: 0 0; }
    100% {
        background-position: -849px 0; }
}


@-o-keyframes move-map {
    0% {
        background-position: -849px 0; }

    100% {
        background-position: 0 0; } }

@-ms-keyframes move-map {
    0% {
        background-position: -849px 0; }

    100% {
        background-position: 0 0; } }

@keyframes move-map {
    0% {
        background-position: -849px 0; }

    100% {
        background-position: 0 0; } }