
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@1,700&family=Jost&family=Play&display=swap');
.wrapper {
    display: flex;
    flex-direction: column;
}

body{
    /*background: #eadfd0;*/
}

.content {
    flex: 1 0 auto;
    margin: 0 auto;
    width: 70vw
}
.container_block{
    perspective: 1000px;
    overflow: hidden;
    height: 100vh;
    min-height: 500px;
    transform-style: preserve-3d;
    will-change: transform;

}
header{
    width: 100%;
    position: absolute;
    z-index: 1;
}
.coffee{
    position: relative;
    width: 70vw;
    margin: 7vh auto;
}

.coffee_title{

}
h1{
    font-family: 'Advent Pro', sans-serif;
    font-family: 'Jost', sans-serif;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 45px;
}
.coffee_block_image{

width: 100%;
    height: 65vh;
    text-align: center;

    margin: 0 auto;
    background: brown;

}

.coffee_block_image img{
    margin-top: 200px;
}

.coffee_description{

}




.block_title{
    text-align: center;
    width: 50%;
}
.block_images{
    width: 50%;
}
.block_images img:first-child{
    transform: translate(8vw, 0vh) scale(1.5);
}

.block_images img:last-child{
    width: 100vw;
    height: 105vh;
    position: relative;
    top: -70vh;
    z-index: -1;
    transform: translate(-21vw, -5vh);
    filter: hue-rotate(60deg) grayscale(0.4);
}