@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@1,700&family=Jost&family=Play&display=swap');
* {
    margin: 0;/*это свойство можно удалить, если вы используете reset, normalize или нечто подобное*/
    font-family: 'Jost', sans-serif;
    color: #5f2e12;
}

html,
body {

    font-family: 'Play', sans-serif;
    height: 100%;
    overflow-x: hidden;
    background: linear-gradient(0deg, rgba(59, 35, 35, 0) 0%, rgba(95, 46, 18, 0) 36%, rgb(240 85 122 / 0%) 100%);
}
h2{
    font-family: 'Play', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    padding: 40px 0px 0px 0px;
    text-align: center;
}
.slick-track {
    align-items: center;
    display: flex !important;
    align-items: flex-end !important;
}
.slick-slide {
    margin: 30px 10px;
}