
.container_carousel{
    
    width: 90vw;
    margin: 0 auto;
    
}
.img_coffee{

    object-fit: contain;
}
.coffee_items{
display: flex !important;
    text-align: center !important;
    flex-direction: column !important;
    align-items: center !important;
    box-shadow: 0px 0px 8px 0px #e8e8e8;
    justify-content: flex-end;
    width: 100%;
    height:300px;
    border-radius: 15px;
    transition: .2s;
}


.coffee_items:hover{
    transition: .2s;
    box-shadow: 0px 2px 20px 0px #5f2d1a7d;
}

.style_back_carousel{
    z-index: 9;
    width: 100%;
    height: 100%;
    max-width: 213px;
    position: absolute;
    top: -5px;
}

.coffee_items a img {
 
    transition: .2s;
}

.coffee_items:hover a img {
    filter: drop-shadow(-8px -5px 11px #5f2d1a);
    transition: .2s;
}

