.container{
    perspective: 1000px;
    overflow: hidden;
    margin: 50px 0;
}
.block{
    /*width: 200px;*/
    /*height: 50vh;*/

    min-height: 500px;
    transform-style: preserve-3d;
    will-change: transform;
}
.block div{

    position: absolute;
    inset: -5vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layer1 {
    width: 259px;
    height: 300px;
     /*border: 1px solid;*/
    border-radius: 26px;
    margin: 120px auto;
    /*background: #cba07c;*/

    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

}

.layer1 p{
    position: absolute;
    top: 265px;
    font-size: 24px;
    font-weight: 500;
}

.layer2_img{
    width: 334px;
    filter: hue-rotate(301deg);
    transform: translate3d(4px, -80px, -104px) scale(0.9) rotate3d(-2, 1, 3, 67deg);
}

.latte{
    width: 334px;
    transform: translate3d(3vw, -14vh, -10px) scale(0.6);
}